
.chains-container {
  width: 90%;
  margin: auto;
  padding: 4%;
}

.chains-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 1fr)); 
  gap: 50px;
}

.chains-item {
  background-color: #fff;
  border-radius: 3%;
  overflow: hidden; 
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
}

.chains-img {
  width: 100%;
  aspect-ratio: 1 / 1; 
  object-fit: contain; 
}

.chains-info {
  width: 100%;
  padding: 2% 0 0 0;
}

h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 1.5% 0 1.5% 0;
  text-align: left; 
}

p {
  font-size: 1rem;
  color: #333;
  text-align: left; 
  margin-top: 0;
}

@media (max-width: 1024px) {
  .chains-grid {
    padding-top: 2%;
    grid-template-columns: repeat(2, minmax(200px, 1fr)); 
  }
}

@media (max-width: 768px) {
  .chains-grid {
    padding-top: 2%;
    gap: 25px;
    grid-template-columns: repeat(2, 1fr); 
  }
  h3 {
    font-size: 1rem; 
  }
}
