.footer {
  background-color: #FFA6BA;
  color: white;
  padding: 40px 20px;
  text-align: left;
  font-family: Arial, sans-serif;
  /* margin-top: 40px; */
}

/* Desktop - 4 Columns */
.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 7%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Style for all sections */
.footer-section h4 {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: bold;
}

.footer-section p,
.footer-section ul,
.footer-section li {
  color: white;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.8;
  list-style: none;
  margin: 0;
  
}

.footer-section ul {
  padding: 0;
}

.footer-section li {
  margin-bottom: 8px;
}

.footer-section a {
  color: white;
  text-decoration: none;
}

.footer-section a:hover {
  text-decoration: underline;
}

/* Tablet View - 2 Columns */
@media (max-width: 1024px) {
  .footer-container {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      text-align: left;
  }

  .footer-section {
      min-width: 100%;
  }
}


@media (max-width: 768px) {
  .footer {
 
      text-align: left;
      display: flex;
      flex-direction: row;
  }

  /* .footer-container {
      /* grid-template-columns: 1fr; */
      
  

  .footer-section {
      text-align: left;
      min-width: 100%;
      /* margin-bottom: 20px; */
  }

  .footer-section h4 {
      font-size: 16px;
  }

  .footer-section p,
  .footer-section a {
      font-size: 13px;
  }

  
}
