.necklace-wrapper {
  width: 90%;
  margin: auto;
  padding: 4%;
}

.necklace-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  gap: 50px;
}

.necklace-card {
  background-color: #fff;
  border-radius: 3%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.necklace-img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: contain;
}

.necklace-info {
  width: 100%;
  padding: 2% 0 0 0;
}

.necklace-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 1.5% 0 1.5% 0;
  text-align: left;
}

.necklace-price {
  font-size: 1rem;
  color: #333;
  text-align: left;
  margin-top: 0;
}

@media (max-width: 1024px) {
  .necklace-grid {
      padding-top: 2%;
      grid-template-columns: repeat(2, minmax(200px, 1fr));
  }
}

@media (max-width: 768px) {
  .necklace-grid {
      padding-top: 2%;
      gap: 25px;
      grid-template-columns: repeat(2, 1fr);
  }
  .necklace-title {
      font-size: 1rem;
  }
}