.signup-container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  position: relative;
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
  padding: 20px;
  /* margin: 10%; */
}

.signup-container1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url("../assets/Signup/backgroundSign.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.6;
  z-index: -1;
  filter: brightness(0.65);
}

.signup-form1 {
  background-color: #fff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: left;
  width: 350px;
}

.signup-form1 h2 {
  margin-bottom: 20px;
  color: #333;
  text-align: left;
}

.signup-form1 input {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.reset-password-container1 {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.reset-password-container1 input[type="checkbox"] {
  margin-right: 8px;
}

.reset-password1 {
  font-size: 12px;
  color: #f1312a;
  cursor: pointer;
}

.reset-password1:hover {
  text-decoration: underline;
}

.signup-button {
  background-color: #9f2089;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.signup-button:hover {
  background-color: #820071;
}

.signup-form1 p {
  margin-top: 15px;
  color: #000;
  text-align: center;
}

.signup-form1 a {
  color: #3077c4;
  text-decoration: none;
}

.signup-form1 a:hover {
  text-decoration: underline;
}

.social-icons1 {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  align-items: center;
}

.social-icons1 img {
  width: 35px;
  height: 35px;
  margin: 0 7px;
  cursor: pointer;
}

/* Media Query for Tablets */
@media (max-width: 768px) {
  .signup-form1 {
      width: 90%;
      padding: 30px;
  }
}

/* Media Query for Mobile */
@media (max-width: 480px) {
  .signup-container1 {
      padding: 5%;
    
     
  }
/* .signup-label{
padding-right: 4%;
} */
  .signup-form1 {
      width: 100%;
      padding: 10%;
      border-radius: 0;
      box-shadow: none;
      margin: 8%;
      border-radius:4%;
      margin-left: -1%;
  }

  .signup-form1 h2 {
      font-size: 22px;
      /* margin: 10%; */
      text-align: left;
  }

  .signup-button {
    width: 100%;
   
      border-radius: 0;
      box-shadow: none;
    /* margin-left: auto auto; */
      border-radius:4%;
      font-size: 14px;
      /* padding: 8px; */
   
     
  }

  .social-icons1 img {
      width: 30px;
      height: 30px;
  }
}
